<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME PAGE</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <H2>WHATSAPP CHATS</H2>
    <form action="/chats/new" method="get">
        <button>NEW CHAT</button>

    </form>
    <BR></BR>
    <% for( let chat of chats) { %>
        <Div class="chat"> 
            <p>From:<%= chat.from %></p>
            <div class="msg">
                <p><%= chat.msg %></p>
                <form action="/chats/<%= chat.id %>/edit" method="get">
                    <button>edit your post</button>
                </form>
                <br>
                <form   method="post"  action="/chats/<%= chat.id %>?_method=DELETE">
                    <button>delete your chat</button>
                </form>
            </div>
            <p><%= chat.to %></p>
            <hr>

            <p><%- chat.created_at.toString().split(" ")[4]%></p>
            <p><%- chat.created_at.toString().split(" ").slice(0,4).join( "")%></p>

            
    
        </Div>
        <br><br>
    
    
    <% } %>

    
</body>
</html>